<a href="https://colab.research.google.com/github/tamchantoGithub/tampy/blob/main/colabtest1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
# from pandas import Series
s1 = pd.Series([1,2,3,4,5])
print(s1)

list1=["a1","a2","a3"]
pd.DataFrame(data=list1)
#df = pd.Dataframe(np.random(20,2))
#print('Random Top 5')
#df.head()
#print('Random Botom 5')
#df.tail()
#print('Random Top 5 & Botom 10')
#df.head().append(df.tail())
#print('Random Top 3 & Botom 3')
#df.head(3).append(df.tail(3))

0    1
1    2
2    3
3    4
4    5
dtype: int64

AttributeError: module 'pandas' has no attribute 'Dataframe'